@import 'variables';

._container {
  width: 100%;
  max-width: var(--maxWidthContainer);
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

@media (max-width: $md1) {
  ._container {
    padding: 0 40px;
  }
}

@media (max-width: $md2) {
  ._container {
    height: 100%;
    padding: 0 40px;
  }
}

@media (max-width: $md3) {
  ._container {
    padding: 0 20px;
  }
}
