:root {
  //==global
  --fontFamily: 'Inter';
  --fontSize: 16px;
  --line-height: 160%;
  --app-height: 100vh; //for mobile detector height
  //===============WIDTH====================
  --minWidth: 375px;
  --maxWidthContainer: 1240px;

  // UI-kit colors

  //===========icons=========
  --icons-white: #f0f5ff;
  --icons-grey: #9ba0a7;
  --icons-dark-grey: #696e76;
  --icons-blue: #1a70ff;
  --icons-bg-yellow: #f4cb55;
  --icons-bg-orange: #ec9550;
  --icons-bg-rose: #e54980;
  --icons-bg-purple: #a460ef;
  --icons-bg-light-blue: #73cae2;

  //========text===========
  --text-main-white: #0f9400;
  --text-secondary-grey: #9ba0a7;
  --text-tertiary-dark-grey: #696e76;

  //=======background======
  --bg-for-icons-grey: #313946;
  --bg-hover: #4c535e;
  --bg-main-black: #c9d3c8;
  --bg-success: #008756;
  --bg-error: #fad0d0;

  //====primary=====
  --primary-active-blue-bg: #d2e2fd;
}
